@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
   
    
     
}
html {
  position: relative;
  min-height: 100%;
}
body{
   margin: 0;
    padding: 0;
    background-color: #e4e1e1;
}

/*Home page section start*/
.container-image{
    background-image: url("./images/img1.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    
    text-decoration: none;
}


header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 25px;
    background-color: #24252A;
    opacity: 0.8;
    height: 50px;
   
}
.logo{
    cursor: pointer;
    height: 250px;
    margin-right: auto;
}
header img{
  margin-left: 150px;
  height: 100px;
}
.nav-link{
    list-style: none;
}
.nav-link li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-link li a{
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover{
    color: #0088a9;
}

button{
    
    background-color: rgba(0, 136, 169, 1);
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 146, 169, 0.8);
}





.form h1{
    margin-bottom: 20px;
    text-align: center;
}
.form{
    position: absolute;
    left: 200px;
    top:100px;
    height: 500px;
    max-width: 300px;
    border-radius: 21px;
    color:white ;
    padding: 16px;
    background-color: rgba(16, 68, 75, 0.7);
    
}

.form input[type=text], input[type=password] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 8px;
    height: 80px;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
    
  }
  textarea:focus{
    background-color: #ddd;
      outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #4CAF50;
    color: white;
    
    border: none;
    cursor: pointer;
    width: 100%;
    height: 30px;
    opacity: 0.9;
   
    font-size: 20px;
    

  }
  
  .btn:hover {
    opacity: 1;
  }


/*Home page Section end*/



/*Donation Section Start*/

  .donate-container{
      width: 100%;
      height: 900px;
  }

  .donateDiv-first{
      height: 400px;
      
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;

  }

  .donate-logo{
      flex: 1;
      margin-left: 150px;
      
      
  }

  .donate-logo img{
    width: 250px;
    height: 250px;
  }
  
  .donate-text{
      flex: 2;
      font-size: 35px;
      font-weight: bold;
      font-family: 'Montserrat',sans-serif;
      line-height: 50px;
  }

  .donateDiv-second{
    background: #52bdec;
    width: 100%;
    height:500px ;
    position: absolute;
  }
  .donate-header {
    
    margin: 35px 150px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
  }
  .donate-box{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .donate-input {
    flex: 1.5;
    width: 100%;
    
    background: #e3dede;
    border: none;
    border-radius: 30px;
    margin-left: 150px;
    
  }
  .logo-donation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
  }
  .logo-donation img{
    width: 250px;
    height: 250px;
  }

  .donate-form{
      height:250px;
      width: auto;
      
  }

  .donate-form input[type=text]:focus, input[type=file]:focus {
    background-color: rgb(168, 162, 162);
    color: white;
    outline: none;
  }
  
  .submit-button-donate {
    width: 80%;
    height: 35px;
    margin-left: 41px;
    margin-top: 35px;
    background: #5cada6;
    border-radius: 8px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
  }
  .name-input-donate {
    margin-top: 30px;
    margin-left: 42px;
    height: 29px;
    width: 37%;
    background: #c4c4c4;
    border-radius: 8px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    /* color: #ffffff; */
    padding: 15px;
  }
  .donate-input-img {
    margin-top: 30px;
    margin-left: 50px;
    height: 29px;
    width: 37%;
    background: #c4c4c4;
    border-radius: 8px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #7e7979;
    padding-left: 10px;
  }
  input file-upload-button {
    display: none;
  }
  
  .address-input-donate {
    margin-top: 30px;
    margin-left: 42px;
    height: 29px;
    width: 37%;
    background: #c4c4c4;
    border-radius: 8px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    /* color: #f2f2f2; */
    padding: 15px;
  }
  .donate-input-number {
    margin-top: 30px;
    margin-left: 50px;
    height: 29px;
    width: 37%;
    background: #c4c4c4;
    border-radius: 8px;
    border: none;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    
    padding: 15px;
  }

  /*Donation section Ends*/



  /*team section start*/



 
  .team-container{
    width: 100%;
    height: auto;
    
    
}


.text{
  margin-top: 30px;
    color: #1d98a8ea;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.row{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}
.profile-card{
    background-color: #f1f1f1;
    width: 300px;
    height: 425px;
    margin: 20px 10px 60px 10px;
}

.card-content{
    padding: 15px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-image{
    text-align: center;
    margin-top: 15px;
}

.desc{
    text-align: center;
    padding: 25px;
    font-family: 'Montserrat',sans-serif;
}
.desc h2{
    color: rgb(12, 172, 150);
    font-size: 20px;
}
.desc p{
    font-size:13px;
    line-height: 1.3rem;
    margin-top: -10px;
    color: #000000;
    text-align: justify;
}

.btn-div{
    text-align: center;
}
.btn1{
    background-color:rgb(12, 138, 121);
    color: #ffffff;
    width: 150px;
    cursor: pointer;
    height: 38px;
    font-size: 13px;
    font-weight: 600px;
    
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
}


/*Team Section end*/


/*/*footer section*/
footer{
  background-color: #2C3E50 ;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;

  color: white;
}
  footer>.division{
    width: 33%;
  }
.division h2{


font-family: 'Montserrat',sans-serif;
 
}

.footer-left ,.footer-right{

  flex: 1;
  text-align: center;
}
.contact-us{
  flex:2;
  text-align: center;
}
.follow-us{
  flex:1;
  text-align: center;
}

.add-text{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.contact-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.con-row{
  display: flex;
}

.con-row input[type=text]{
    width: 100%;
    padding: 5px;
   margin: 4px;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .con-btn{
    border-radius: 5px;
    width: 100%;
  }
  .social-icon{
    font-size: 40px;
    color: crimpson;
  }
  .social-icon a{
    margin: 2px;
  }
.social-icon a:hover{
  color: dodgerblue;
}
/*-------------------------------------------------- */